ion-img{
  height: 200px;
}
.option{
  transition: all 2s linear;
  transform:translate(0);
  opacity: 1;
}
#adversary{
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
